<div class="card">
  <img
    [src]="adDetails.imageUrl"
    class="card-img-top"
    alt="..."
    style="max-height: 150px"
  />
  <div class="card-body">
    <h5 class="card-title">{{ adDetails.title }}</h5>
    <p class="card-text">{{ adDetails.city }}, {{ adDetails.state }}</p>
    <hr />
    <div class="d-flex justify-content-center">
      <a
        href="#"
        class="btn text-danger"
        [routerLink]="['/general/ad-details']"
        [queryParams]="{ id: adDetails.id }"
        >Reserve</a
      >
    </div>
  </div>
</div>
