<div class="container border border-danger rounded">
  <div class="mx-2 p-3">
    <span class="d-flex justify-content-between">
      <strong>Services</strong>
      <button
        *ngIf="allowEdit"
        type="button"
        class="btn btn-outline-secondary my-2 my-sm-0 ml-2"
        (click)="onAddServiceClicked()"
      >
        &#x2b;
      </button>
    </span>
    <form *ngIf="showForm" [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="form-group col-md-3">
          <label for="inputEmail">Name<em>*</em></label>
          <input
            type="text"
            class="form-control"
            id="inputFullName"
            formControlName="name"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="inputEmail">Time</label>
          <input
            type="number"
            class="form-control"
            id="inputName"
            formControlName="time"
            placeholder="Time (mins)"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="inputEmail">Price</label>
          <input
            type="number"
            class="form-control"
            id="inputName"
            formControlName="price"
            placeholder="Price ($)"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="inputPicture">Picture</label>
          <input
            type="file"
            accept="image/*"
            class="form-control"
            id="inputPicture"
            formControlName="picture"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputDesc">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="inputDesc"
            formControlName="desc"
          ></textarea>
        </div>
        <div class="form-group col-md-6 mt-5">
          <span class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-outline-success">Save</button>
            <button
              type="button"
              class="btn btn-outline-danger mx-3"
              (click)="onCancel()"
            >
              Cancel
            </button>
          </span>
        </div>
      </div>
    </form>
    <hr />
    <div class="col" *ngFor="let service of serviceList">
      <div class="border rounded border-white">
        <app-service-list-item
          [serviceDetails]="service"
          [allowEdit]="allowEdit"
        ></app-service-list-item>
      </div>
    </div>
  </div>
</div>
