<nav class="navbar navbar-light bg-light p-2">
  <a class="navbar-brand" href="#" [routerLink]="['/general/home/']">
    <img
      src="/assets/openApp.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
    Open App
  </a>

  <span class="form-inline" *ngIf="!currentUser">
    <span
      class="navbar-text"
      style="margin-right: 1rem"
      *ngIf="openTab !== 'personal'"
    >
      <a
        href="#"
        class="btn text-secondary"
        [routerLink]="['/general/home/']"
        [queryParams]="{ openTab: 'personal' }"
        >For Business account</a
      >
      <button
        class="btn btn-sm btn-outline-primary my-2 my-sm-0"
        [routerLink]="['/general/business-home']"
        [queryParams]="{ openTab: 'business' }"
      >
        Sign up
      </button>
    </span>
    <span
      class="navbar-text"
      style="margin-right: 1rem"
      *ngIf="openTab === 'personal'"
    >
      <a
        href="#"
        class="btn text-secondary"
        [routerLink]="['/general/home/']"
        [queryParams]="{ openTab: 'Business' }"
        >For Personal account</a
      >
      <app-user-signup-popup></app-user-signup-popup>
    </span>
    <app-signin-popup></app-signin-popup>
  </span>

  <div class="row" *ngIf="currentUser">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          id="dropdownBasic1"
          ngbDropdownToggle
          type="button"
          class="btn btn-danger mx-5"
        >
          <i class="fa fa-user" aria-hidden="true"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>
            <span href="#" [routerLink]="['/general/business-home/profile']"
              >Profile</span
            >
          </button>
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>
