<h3>Connect with us today</h3>
<br />
<form>
  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name <em>*</em></label>
      <input type="text" class="form-control" id="inputEmail4" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name<em>*</em></label>
      <input type="text" class="form-control" id="inputPassword4" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email Address<em>*</em></label>
      <input type="email" class="form-control" id="inputEmail4" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Business Name<em>*</em></label>
      <input type="text" class="form-control" id="inputPassword4" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Phone Numer<em>*</em></label>
      <input type="text" class="form-control" id="inputEmail4" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Business City<em>*</em></label>
      <input type="text" class="form-control" id="inputPassword4" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Business State/Province<em>*</em> </label>
      <input type="text" class="form-control" id="inputEmail4" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Business Zip/Postal Code<em>*</em></label>
      <input type="text" class="form-control" id="inputPassword4" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col-md-4">
      <label for="inputState">Business Category<em>*</em></label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Auto Shop</option>
        <option>Beauty Salon</option>
      </select>
    </div>
  </div>
  <span class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-primary my-2 my-sm-0">
      Next >
    </button>
  </span>
</form>
