<h3>Connect with us today</h3>
<br />
<form *ngIf="!formSubmitted" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div formGroupName="user">
  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name <em>*</em></label>
      <input
        type="text"
        class="form-control"
        id="inputFirstName"
        formControlName="firstName"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name<em>*</em></label>
      <input
        type="text"
        class="form-control"
        id="inputLastName"
        formControlName="lastName"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email Address<em>*</em></label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        formControlName="emailId"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Phone Number<em>*</em></label>
      <input
        type="text"
        class="form-control"
        id="inputPhone"
        formControlName="phoneNumber"
      />
    </div>
  </div>
  </div>
  <div formGroupName="business">
    <div class="row mb-3">
      <div class="form-group col-md-6">
        <label for="inputPassword4">Business Name<em>*</em></label>
        <input
          type="text"
          class="form-control"
          id="inputbName"
          formControlName="bName"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Business City<em>*</em></label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          formControlName="bCity"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Business State/Province<em>*</em> </label>
        <input
          type="text"
          class="form-control"
          id="inputState"
          formControlName="bState"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Business Zip/Postal Code<em>*</em></label>
        <input
          type="text"
          class="form-control"
          id="inputZipcode"
          formControlName="bZip"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group col-md-4">
        <label for="inputState">Business Category<em>*</em></label>
        <select id="inputCategory" class="form-control" formControlName="bType">
          <option selected>Choose...</option>
          <option>Auto Shop</option>
          <option>Beauty Salon</option>
        </select>
      </div>
      <div class="form-group col-md-8 mt-3">
        <span class="d-flex flex-row-reverse">
          <button
            [disabled]="signupForm.invalid"
            type="submit"
            class="btn btn-outline-success"
          >
            Register
          </button>
          <button
            type="button"
            class="btn btn-outline-danger mx-3"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </span>
      </div>
    </div>
  </div>
</form>
<div *ngIf="formSubmitted">
  <strong>
    Thank you for helping us with the information.<br />
    Your application is under review. We will send you an email with your login
    credentials once it is processed.
  </strong>
</div>
