<div
  class="bg-image shadow-1-strong mb-3"
  style="background-image: url('/assets/homeBack.jpeg'); height: 40vh"
>
  <div
    class="text-black d-flex align-items-center justify-content-center h-100"
  >
    <form [formGroup]="searchForm">
      <div class="row" style="width: 125%;">
        <div class="form-group col-3">
          <select
            placeholder="Category"
            class="form-control form-select"
            formControlName="category"
            (change)="onSelectCategoryOrCity()"
          >
            <option [value]="null" disabled>select category</option>
            <option *ngFor="let x of categories" [ngValue]="x">{{ x }}</option>
          </select>
        </div>
        
        <div class="form-group col-3">
          <input formControlName="date" class="form-control" type="date" (change)="onSelectDate()"/>
        </div>
        <div class="form-group col-3">
          <select
            placeholder="Category"
            class="form-control form-select"
            formControlName="city"
            (change)="onSelectCategoryOrCity()"
          >
            <option value=null disabled>select city</option>
            <option *ngFor="let x of cities" [ngValue]="x.bCity">{{ x.bCity }}</option>
          </select>
        </div>
        <div class="form-group col-3">
          <button class="btn btn btn-danger" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!isLoading">
  <app-ad-grid [adList]="filteredList"></app-ad-grid>
</div>
<div class="text-center"  *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>