<div *ngIf="!showForm">
  <div class="card">
    <div class="card-horizontal">
      <div class="img-square-wrapper">
        <img
          class=""
          [src]="imageEndpoint + serviceDetails.picture"
          alt="Card image cap"
          style="height: 200px; width: 200px"
        />
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ serviceDetails.serviceName }}</h4>
        <p class="card-title">${{ serviceDetails.cost }}</p>
        <div class="card-text">
          <p>{{ serviceDetails.desc }}</p>
        </div>
      </div>
      <div class="card-footer px-0">
        <div class="text-center">
          <div ngbDropdown *ngIf="allowEdit">
            <a
              role="button"
              class="nav-link"
              id="dropdownBasic1"
              ngbDropdownToggle
            ></a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="onEditClicked()">
                <i class="fa fa-pencil font-weight-bold" aria-hidden="true"></i>
              </button>
              <button ngbDropdownItem (click)="onDeleteClicked()">
                <i
                  class="fa fa-trash font-weight-bold text-danger"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showForm" class="border-bottom">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="form-group col-md-3">
        <label for="inputEmail">Name<em>*</em></label>
        <input
          type="text"
          class="form-control"
          id="inputFullName"
          formControlName="serviceName"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputEmail">Time</label>
        <input
          type="number"
          class="form-control"
          id="inputName"
          formControlName="time"
          placeholder="Time (mins)"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputEmail">Price</label>
        <input
          type="number"
          class="form-control"
          id="inputName"
          formControlName="cost"
          placeholder="Price ($)"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputPicture">Picture</label>
        <input
          type="file"
          accept="image/*"
          class="form-control"
          id="inputPicture"
          (change)="onChangleFile($event)"
        />
      </div>
    </div>
    <div class="row mb-1">
      <div class="form-group col-md-6">
        <label for="inputDesc">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="inputDesc"
          formControlName="desc"
        ></textarea>
      </div>
      <div class="form-group col-md-6 mt-5">
        <span class="d-flex flex-row-reverse">
          <button type="submit" class="btn btn-outline-success">Save</button>
          <button
            type="button"
            class="btn btn-outline-danger mx-3"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
