<div class="container-fluid overflow-hidden bg-mild">
  <div class="row gx-3">
    <div class="col">
      <div class="card border-0 bg-mild">
        <div class="card-body">
          <h4 class="card-title">
            Join the partner you need to get back in action and reconnect with
            guests
          </h4>
          <p class="card-text mt-5">
            <img src="/assets/fork.jpeg" alt="" width="50" height="50" />
            <br />
            <strong>The largest, most valuable customer network</strong>
            <br />
            Connect to customers when you need them most, so you can maximize
            revenue and repeat business.
          </p>
          <p class="card-text mt-5">
            <img src="/assets/all_in_none.jpeg" alt="" width="50" height="50" />
            <br />
            <strong>A reliable all-in-one platform</strong>
            <br />
            Manage your business with intuitive tools and actionable insights
            you can rely on.
          </p>
          <p class="card-text mt-5">
            <img src="/assets/menu.jpeg" alt="" width="50" height="50" />
            <br />
            <strong>At your service</strong>
            <br />
            Serving over 1,000 businesses, our industry experts help you
            achieve success.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 bg-light">
        <app-business-signup-form></app-business-signup-form>
      </div>
    </div>
  </div>
</div>
