<div
  class="bg-image p-5 text-center shadow-lg mb-5 text-white"
  style="background-image: url('/assets/businessBg.jpeg'); height: 55vh"
>
  <h1 class="mt-3 h2">
    Everything you need to get back in action—and reconnect with guests
  </h1>

  <h5>
    Manage your operations in one place and get guests when you need them most.
  </h5>
  <a
    class="btn btn btn-danger mt-3"
    href="#"
    [routerLink]="['/general/business-home/signup']"
    [queryParams]="{ openTab: 'business' }"
  >
    Get Started
</a>
</div>
<div></div>
