<div class="p-3">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>General</a>
      <ng-template ngbNavContent>
        <app-business-general [allowEdit]="true" [bId]="bId"></app-business-general>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Staff</a>
      <ng-template ngbNavContent>
        <app-staff-list [allowEdit]="true" [bId]="bId"></app-staff-list>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Services</a>
      <ng-template ngbNavContent>
        <app-service-list [allowEdit]="true" [bId]="bId"></app-service-list>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>Business Hours</a>
      <ng-template ngbNavContent>
        <app-business-hours [allowEdit]="true" [bId]="bId"></app-business-hours>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink>Location</a>
      <ng-template ngbNavContent>
        <app-business-contact [allowEdit]="true" [bId]="bId"></app-business-contact>
      </ng-template>
    </li>
    <li [ngbNavItem]="6">
      <a ngbNavLink>Security</a>
      <ng-template ngbNavContent>
        <app-security></app-security>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
